@import url("nav.css");
@import url("posts.css");

body,
html {
    margin: 0;
    height: auto;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', Georgia, 'Times New Roman', Times, serif;
}


.cover {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(228, 220, 146, 0), rgb(24, 4, 4)),url("../images/bg.jpeg");
    background-size: cover;
}

.footer {
    width: 100%;
    height: 40vh;
    background-color: #333
}

a {
    text-decoration: none;
    color: brown;
}

.post {
    margin: 50px 75px;
    display: grid;
    grid-template-areas: 
    "header header"
    "main main";
}

#header {
    grid-area: header;
    padding: 20px;
    background-color: #bbb;
}

#main {
    grid-area: main;
    padding: 20px;
    background-color: aqua;
}

.content {
    display: grid;
    column-gap: 10px;
    /* padding: 100px; */
    grid-template-areas: 
    "post-content post-content post-content post-content post-content post-content post-content author-info";
}

#post-content {
    grid-area: post-content;
    background-color: burlywood;
}

#author-info {
    grid-area: author-info;
    background-color: chartreuse;
}

.post-item {
    /* padding: 100px; */
    /* background-color: burlywood; */
}
