body,
html {
  margin: 0;
  height: auto;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Poppins', Georgia, 'Times New Roman', Times, serif;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  list-style: none;
  margin: 0;
  background: rgb(3, 35, 46);
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1.5em 2em;
  color: white;
  font-size: 1.5rem;
}

.navigation a:hover {
  background: #1565c0;
  transition: all 1s;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.cover {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(228, 220, 146, 0), rgb(24, 4, 4)),
    url(bg.jpeg);
  background-size: cover;
}

.some-page-wrapper {
  margin: 50px 75px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.single-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/* .blue-column {
  height: auto;
  width: 100%;
} */

/* .green-column {
  background-color: green;
  height: auto;
  width: 100%;
  align-self: flex-end;
} */

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.cards {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.card {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 0.5rem;
}

.card-content {
    display: flex;
    flex-flow: row wrap;
    /* justify-content:space-evenly; */
    padding: 0;
    margin: 0;
}

.image {
    width: 200px;
    /* background-color: red; */
    height: 10px;
    margin-right: 10px;
    flex: 1;
  }
.text {
    flex: 2;
    /* color: white; */
  }

.card-item {
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    /* text-align: center; */
    align-self: flex-start;
  }

p {
    overflow-wrap: break-word;
    font-size: 0.8em;
    text-align: justify;
}

button {
    border: none;
    background-color:antiquewhite;
    padding: 10px 20px;
    border-radius: 50px;
}

